table{
    margin:10%;
}

td{
    height: 5vh;
    width:5vh;
    padding:3%;
    border:2px solid black;
    margin: 2px;
}


nav{
    border:3px solid grey;
    position: absolute;
    top:100px;
    right: 100px;
    width:20%;
    padding:3%;

}

button{
    display: block;
    width:100%;
    box-sizing: border-box;
}

button:nth-of-type(2){
    display: inline-block;
    width:48%;
}
button:nth-of-type(3){
    display: inline-block;
    width:48%;
}