header{
    height: 10vh;
    background-color: darksalmon;
}

aside{
    height: 80vh;
    width:20%;
    background-color: navajowhite;
    float:left;
    
    padding:40px;
    box-sizing:border-box;
}
article{
    height: 80vh;
    width:80%;
    background-color: paleturquoise;
    float:left;
    
}

footer{
    height: 10vh;
    background-color: mediumpurple;
    clear:left;
}    

