/* https://csscompressor.com/ */

header{height:10vh;background-color:#e9967a}aside{height:80vh;width:20%;background-color:#ffdead;float:left;padding:40px;box-sizing:border-box}article{height:80vh;width:80%;background-color:#afeeee;float:left}footer{height:10vh;background-color:#9370d8;clear:left}