header .heading{
    background-color:black;
    text-align: center;
    color:white;
    padding:3%;
    font-size: 3em;
    border-radius: 20px;
    background-image: url("image/favourite1.jpg");
    background-position: 20%;

      
    
}









/* navigation */


nav ul{
    background-color:rgb(238, 234, 234);
    list-style-type: none;

    border-radius: 10px;



}
/* clear fix */
nav ul:after{
    content: "";
    clear:both;
    display: table;
}


/* nav items */

nav li{
    margin:1% 1%;
    border-radius: 10px;
    padding:1%;
    float: right;
    color:white;
    
}

nav ul,img,footer,.title{

    border-top:10px solid #b22337;
    border-left:10px solid #0d85b0;
    border-right:10px solid #0d8176;
    border-bottom:10px solid #eebd0b;
}

nav li:nth-last-of-type(1){
    background-color: #b22337;
}
nav li:nth-last-of-type(2){
    background-color: #0d85b0;
}
nav li:nth-last-of-type(3){
    background-color: #0d8176;
}
nav li:nth-last-of-type(4){
    background-color: #eebd0b;
}

a{
    text-decoration:none;
    color:inherit;

}

nav li:hover{
    transform: scale(1.2);
}









/* section */




section{
    margin:5% 10%;
    display: flex;
    flex-direction: column;
}


.title{
    padding:1%;
    width:50%;

    margin:0px auto;
    text-align:center;


  
}


article{
    width: 100%;
    margin:5% 3%;
    display: inline-grid;
    grid-template-columns: 30% 70%;
}


article:nth-last-of-type(2n){
    grid-template-columns: 70% 30%;

}





/* 
.left img,.left table{
    float:left;
}

.right img,.right table{
    float: right;
} */

img{
    width:100%;
    height: 100%;
  
}




 img{

    border-radius: 50%;
}





table{
    border:2px solid grey;
    border-radius: 10px;
    margin: 0 10%;
    padding:18%;
    box-shadow:20px 20px 10px grey; 

}

td{
    border-bottom:2px solid black;

}







/* footer */
footer{
    background-color: white;
    color:black;
    font-size:2em;
    padding:2%;
    text-align: center;
    border-radius: 20px;
    background-image: url("image/contact1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20%;


}




/* nav media query */

@media all and (max-width:650px){

    nav li{
        display: block;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding: 2%;
        text-align: center;
    }

  

    table{
        position: relative;
        right: 50%;
        width: 100%;
    }
 
    .skills table{
        position: relative;
        right: 8%;
        width: 100%;
    }



    img{
        opacity: 0.3;
        transform: scale(0.7);
    }

    footer{
        font-size: 1em;
    }

  

}

