header{
    background-color: grey;
    text-align:center;
    padding:3%;
    color:white;
    /* letter-spacing: 1.5em; */
    font-size: 3.5em;
    border-radius: 10px;
    background-image: url("image/favourite1.jpg");

}






/* section */


section{

    margin:4% 25%;
    background-color: grey;

    border:10px solid darkgrey;

    border-radius: 20px;

    background-image: url("image/contact4.jpeg");
    background-repeat: no-repeat;
    background-position-x:70%;
    opacity: 0.7;
    background-size: cover;
    box-shadow:20px 20px 10px grey; 


} 

section,footer{

    border-top:10px solid #b22337;
    border-left:10px solid #0d85b0;
    border-right:10px solid #0d8176;
    border-bottom:10px solid #eebd0b;
}

label{
    display: block;
    text-align:center;
    color:rgb(75, 73, 73);
    margin:2%;
    font-size:2em;
}


form input,textarea{
    width: 90%;
    display: block;
    margin:5% 4%;
    border-radius: 10px;
    font-size: 1.5em;
    text-align:center;
}


input[type=submit]{
    background-color: #007caf;
}





footer{
    background-color: white;
    color:black;
    font-size:2em;
    padding:5%;
    text-align: center;
    border-radius: 20px;
    background-image: url("image/contact1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20%;


}








/* newly added from favourite.css */
/* navigation */


nav ul{
    background-color:rgb(238, 234, 234);
    list-style-type: none;

    border-radius: 10px;



}
/* clear fix */
nav ul:after{
    content: "";
    clear:both;
    display: table;
}


/* nav items */

nav li{
    margin:1% 1%;
    border-radius: 10px;
    padding:1%;
    float: right;
    color:white;
    
}

nav ul{

    border-top:10px solid #b22337;
    border-left:10px solid #0d85b0;
    border-right:10px solid #0d8176;
    border-bottom:10px solid #eebd0b;
}

nav li:nth-last-of-type(1){
    background-color: #b22337;
}
nav li:nth-last-of-type(2){
    background-color: #0d85b0;
}
nav li:nth-last-of-type(3){
    background-color: #0d8176;
}
nav li:nth-last-of-type(4){
    background-color: #eebd0b;
}

a{
    text-decoration:none;
    color:inherit;

}

nav li:hover{
    transform: scale(1.2);

} 




/*  media query */

@media all and (max-width:650px){

    nav li{
        display: block;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding: 2%;
        text-align: center;
    }

    section{
        margin:5% 5%;
    }

    footer{
        font-size: 1em;
    }

  

}